@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;800&family=Mountains+of+Christmas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Maven+Pro:wght@400;700;800&family=Mountains+of+Christmas&display=swap");
body,
html {
    overflow: hidden;
    margin: 0;
    height: 100%;
    font-family: "Lato";
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-underline-offset: 5px;
}

.icecam {
    border-top: 7px solid white;
    border-bottom: 7px solid white;
}

.color {
    width: 20%;
    height: 100%;
    float: left;
}

.title {
    font-family: "Kanit";
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.bold {
    font-family: "Maven Pro";
    font-weight: 800;
}

.regular {
    font-family: "Maven Pro";
    font-weight: 400;
}

.subtitle {
    font-family: "Maven Pro";
    font-size: 1.15rem;
    font-weight: 200;
    padding: 0;
    margin: 0;
    padding-bottom: 0.15rem;
}

.blurb {
    font-family: "Maven Pro";
    font-size: 0.5rem;
    font-weight: 200;
    margin-bottom: 0;
    padding-bottom: 0;
}

.sky {
    height: 100%;
    color: #fff;
    display: block;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

@media (orientation: landscape) {
    img {
        height: 100%;
    }
}

@media (orientation: portrait) {
    img {
        width: 100%;
    }
}

h1 {
    font-family: "Mountains of Christmas", cursive;
    text-align: center;
    font-size: 1rem;
}

p {
    font-family: "Maven Pro";
    font-weight: 200;
    font-size: 0.5rem;
    margin: 0;
}

a {
    font-size: 0.5rem;
    color: white;
    z-index: 1000;
    text-decoration: none;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section1 {
    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    // background-size: 400% 400%;
    // animation: gradient 15s ease infinite;
    height: 20vh;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 {
    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    // background-size: 400% 400%;
    // animation: gradient2 15s ease infinite;
    display: flex;
    height: 35vh;
    position: relative;
}

.overlay {
    position: absolute;
    overflow: hidden;
    top: 15%;
    left: 40%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.refresh {
    font-size: 0.35rem;
}

.left {
    padding: 0.95rem;
    padding-top: 0;
    width: 45%;
}

.box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    align-items: center;
}

.lg {
    font-size: 0.6rem;
}

.refreshbtn {
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    height: 18px;
    margin-left: 40px;
}

.ian {
    text-decoration: none;
}

.line {
    text-decoration: underline;
}